#statusContainer > input[type="checkbox"] {
  margin-left: 10px;
}

#sizeContainer > div,
#statusContainer > div {
  padding: 4px 6px;
  white-space: nowrap;
  cursor: pointer;
}
#sizeContainer > div label, 
#statusContainer > div label {
  white-space: nowrap;
}

#sizeContainer,
#statusContainer {
  padding: 10px 20px;
}

#sizeContainer > input[type="checkbox"] {
  margin-left: 10px;
}

#sortContainer > button {
  padding: 6px 10px;
  background-color: #007782;
  color: white;
  margin: 10px;
  margin-top: 22px;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 6px;
  min-width: 100px;
  border: 2px solid #007782;
}
#sortContainer > button:active {
  background-color: white;
  color: #007782;
  border: 2px solid #007782;
}

#specialContainer {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #f2f2f2;
}

#statusContainer > div > input[type="checkbox"] {
  margin-right: 6px;
  accent-color: #007782;
}

#filterContainer {
  display: flex;
  flex-direction: row;
}

#filterContainer > div {
  border-top: 2px solid #f2f2f2;
}

#searchField {
  width: 100%;
  font-size: 1.7rem;
  background-color: transparent;
  color: black;
  border: none;
  padding: 6px 12px;
}

#searchButton {
  padding-left: 25px;
  padding-right: 25px;
  background-color: #007782;
  color: white;
  font-size: 1.7rem;
}
#searchButton:active {
  background-color: #052326;
  color: white;
}

#clearButton {
  padding-top: 2.5px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  background-color: #052326;
  color: white;
  font-size: 1.4rem;
  font-weight: 500;
}
#clearButton:active {
  background-color: white;
  color: black;
}

#searchContainer {
  display: flex;
  height: 50px;
  font-size: 20px;
  border: 2px solid #007782;
  background-color: #f2f2f2;
}

.price-filter {
  font-family: Arial, sans-serif;
  min-width: 300px;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  border-left: 2px solid #f2f2f2;
  border-right: 2px solid #f2f2f2;
  flex: 1;
}

.price-filter h3 {
  margin-bottom: 16px;
  font-size: 18px;
}

.price-slider {
  position: relative;
  height: 65px;
  padding: 0; /* Remove extra padding to align the handles with the track */
}

.price-slider input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  width: 100%;
  height: 6px;
  pointer-events: none;
  background: transparent;
  top: 50%;
  transform: translateY(-50%); /* Center the handles vertically */
}

.price-slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: rgb(0, 119, 130);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  pointer-events: auto;
}

.price-slider input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: rgb(0, 119, 130);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  pointer-events: auto;
}

#slider-max::-webkit-slider-thumb {
  background: rgb(175, 76, 118);
}

#slider-max::-moz-range-thumb {
  background: rgb(175, 76, 118);
}

.slider-track {
  position: absolute;
  top: 53%;
  left: 0.18em;
  width: 100%;
  height: 6px;
  background: #ddd;
  transform: translateY(-50%);
  z-index: 1;
  border-radius: 3px; /* Make the track rounded */
}

.price-slider input[type="range"]:nth-child(1) {
  z-index: 2;
}

.price-slider input[type="range"]:nth-child(2) {
  z-index: 3;
}

.slider-values {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
}

.slider-track::after {
  content: "";
  position: absolute;
  height: 100%;
  background: #4caf50;
  z-index: 1;
}
